//type
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #888;
  text-decoration: none;
}
//common 组件类
.m-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    background: rgba(255, 255, 240, 0.192);
  }

  &::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background: #303133;
  }
}

//app 全局 将高度传递到页面
html,
body,
#app,
.m-page {
  height: 100%;
}
