// global transition css
/* fade */

//enter-from
//enter-active
//enter-to

//leave-from
//leave-active
//leave-to
//进来的地方
.fade-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
//离开 和 到的地方
.fade-leave-from,
.fade-enter-to {
  opacity: 1;
  transform: translateX(0);
}
//离开后
.fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
//过程中
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}

/* breadcrumb transition */
//进来的地方
.breadcrumb-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}
//离开 和 到的地方
.breadcrumb-leave-from,
.breadcrumb-enter-to {
  opacity: 1;
  transform: translateX(0);
}
//离开后
.breadcrumb-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
//过程中
.breadcrumb-leave-active,
.breadcrumb-enter-active {
  transition: all 0.5s;
}
