.page_layout {
  display: flex;

  .m-side {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    //外部 为展开
    &:not(.el-menu--collapse) {
      width: 200px;
    }
    .m-side-item {
      display: block;
      height: 100%;
      color: inherit;
    }
  }
  .m-main {
    flex-grow: 2;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    .m-header {
      padding: 5px 10px;
      box-shadow: 0 1px 5px 3px #ddd;
      .m-nav__wrap {
        height: 50px;
        display: flex;
        align-items: center;
        .m-icon {
          font-size: 20px;
          display: inline-block;
          height: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          &.collapse {
            transform: rotate(180deg);
          }
        }
        .b-bread-crumb {
          margin-left: 10px;
        }
      }
    }
    .m-content {
      flex-grow: 2;
      padding: 10px;
    }
  }
}
