.page_layout {
  display: flex;
  .m-header {
    padding: 5px 10px;
    .m-nav__wrap {
      height: 50px;
      display: flex;
      align-items: center;
      .m-icon {
        font-size: 20px;
        display: inline-block;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        // width: 40px;
        // height: 40px;
      }
      .b-bread-crumb {
        margin-left: 10px;
      }
    }
  }
  .m-side {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    //外部 为展开
    &:not(.el-menu--collapse) {
      width: 200px;
    }
    .m-side-item {
      display: block;
      height: 100%;
      color: inherit;
    }
  }
  .m-main {
    flex-grow: 2;
    overflow-x: hidden;
    > * {
      border: 1px solid #ddd;
    }
  }
}
